{% extends "app/layout.html" %} {% block body %}
<div class="mixer">
  <h2>MIXER</h2>
</div>
<hr />

<h2>Login</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input
      autofocus
      class="form-control"
      type="text"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <input class="session-btn" type="submit" value="Login" />
</form>
<hr />
Don't have an account?
<a class="session-link" href="{% url 'register' %}">Register here.</a>

{% endblock %}
