{% extends "app/layout.html" %}
{% load static %}

{% block body %}
    <nav id="navbar">
        <div class="mixer">
              <h2>MIXER</h2>
        </div>
        <div class="navelement">
            <form action="{% url 'logout' %}">
            <input class="session-btn" type="submit" value="Log Out" />
        </form>
        </div>
    </nav>
    <div class="big-container">
        <div id="header">
        {{ request.user.username }}'s Collection
        </div>
        <div id="main">
            <div id="app"></div>
        </div>
    </div>
    <div class="footer">2022 - Dapponics</div>
    
{% endblock %}

{% block script %}
    <script src="{% static "app/main.js" %}"></script>
{% endblock %}